VITE_SUPABASE_URL=https://tqzbqossdawaentobsut.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxemJxb3NzZGF3YWVudG9ic3V0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxMzI3OTUsImV4cCI6MjEwNDcwODc5NX0.B0y8uvwoRIq3T44Pm_z5NbmkxdIP2VbiuZCXkmUUIjY
VITE_SUPABASE_SERVICE_KEY=